<!DOCTYPE html>
<html>

<head>
    <title>Crime Hotspots Map</title>
    <!-- Include the Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Your head content goes here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}" />
</head>

<body>
    <h1>Crime Hotspots Map</h1>
    <div id="map" style="height: 500px;"></div>

    <!-- Include the Leaflet library -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Include the map.js file -->
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</body>

</html>